.column__buy-tickets {
    display: flex;
    width: 240px;
    min-height: 56px;
    margin: 0;
    padding: 16px 16px 18px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}