.footer__logo{
    width: 93px;
    height: 80.36px;
    padding-left: 25px;
}

@media screen and (min-width: 414px) {
    .footer__logo{
        padding-left: 55px;
    }
}
@media screen and (min-width: 950px) {
    .footer__logo {
        padding-left: 32px;
    }
    
}