.reviews__wrapper{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 25px;
}

@media screen and (min-width: 800px) {
    .reviews__wrapper{
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    .reviews__wrapper{
        width: 718px;
        margin-bottom: 40px;
    }
}