.footer__design{
    display: flex;
    align-items: center;
    column-gap: 9px;
    
    margin-top: 59px;
}

@media screen and (min-width: 700px) {
    .footer__design  {
        margin-top: 0;
    }
}