.header__item {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

/*.header__item:hover {
    background-color: #001337;
    transition: 1s;
    background-color: #000d26;
    transition: 0;
}*/